- category: mandatory
  customVariables: []
  description: Deprecated javax.security.cert APIs with forRemoval=true
  effort: 2
  labels:
  - source=openjdk13-
  - source=openjdk
  - capability=openjdk13+
  - capability=openjdk
  - domain=java-upgrade
  - category=deprecated-apis
  - os=windows
  - os=linux
  - target=azure-appservice
  - target=azure-aks
  - target=azure-container-apps
  links:
  - title: Deprecated javax.security.cert APIs with forRemoval=true
    url: https://www.oracle.com/java/technologies/javase/13all-relnotes.html#JSERN13
  message: |-
    The `javax.security.cert` API has been deprecated and marked for removal. The classes in this package should no longer be used. The `java.security.cert` package contains suitable replacements.
  ruleID: java-13-deprecate-security-00000
  when:
    or:
    - java.referenced:
        location: PACKAGE
        pattern: javax.security.cert*
